In [1]:
import pandas as pd #is used because it allows us to organize data in a tabular form and attach a descriptive index to each row and column.
import numpy as np #is used for working with arrays.
import seaborn as sns #is used for data visualization and plotting graphs.
import matplotlib.pyplot as plt #is usedd for data visualization and plotting graphs.
from sklearn.model_selection import train_test_split #is used to split the data into training and testing sets.
from sklearn.metrics import accuracy_score #is used to measure the accuracy of the model.
from sklearn.metrics import classification_report #is used to measure the quality of predictions from a classification algorithm.
import re #is used to work with regular expressions.
import string #is used to work with string data.

Reading the csv file...

In [3]:
data_fake=pd.read_csv('Fake.csv')#is used to read the csv file.
data_true=pd.read_csv('True.csv')

In [4]:
data_fake.head()#is used to display the first five rows of the dataset.

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
data_true.head()#is used to display the first five rows of the dataset.

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

Insert column class as a target feature...

In [6]:
data_fake["class"]=0#is used to add a new column to the dataset and assign a value of 0 to it.
data_true["class"]=1#is used to add a new column to the dataset and assign a value of 1 to it.

shape is used to display the number of rows and columns in the dataset.
shape method return shape of the array in tuple format.
a tuple containing the quantity of rows and columns respectively.
(rows, columns)

In [10]:
data_fake.shape,data_true.shape

((23481, 5), (21417, 5))